<h1>Edit Arable land</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.arable_land_path(@conn, :update, @arable_land)) %>

<span><%= link "Back", to: Routes.arable_land_path(@conn, :index) %></span>
